.App {
  background-color: hsl(185, 41%, 84%);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  font-family: 'Space Mono' !important;
}


/*Buradaki cssler düzgün değil gibi?*/
/*media query kullanmayı dene Nasıl kullanılacak media query anlamamışım*/

input{
  background-color: hsl(189, 41%, 97%) !important;
  font-size: 24px !important;
  text-align: right !important;
  color:  hsl(183, 100%, 15%) !important;
  background-position: 7px 7px !important;
  background-repeat: no-repeat !important;
  font-weight: 700 !important;
}
input:focus{
  outline: none !important;
  border: 3px solid hsl(172, 67%, 45%) !important;
  box-shadow: none !important;
}
.input-num-zero{
  border: 3px solid rgb(197, 79, 79) !important;
}
.input-num{
  border: 3px solid hsl(172, 67%, 45%) !important;
}

button{
  background-color: hsl(183, 100%, 15%) !important;
  color: white !important;
  border: none !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

button:hover{
  background-color: hsl(185, 41%, 84%) !important;
  color: hsl(183, 100%, 15%) !important;
  box-shadow: none !important;
}
label{
  
  font-weight: 500 !important;
  color:  hsl(186, 14%, 43%) !important;
  font-size: 18px !important;
  float: left !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#reset-btn{
  border: none !important;
  background-color: hsl(172, 67%, 45%) !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  color: hsl(183, 100%, 15%) !important;
}
h1{
  color:hsl(172, 67%, 45%) !important;
  font-weight: 700 !important;
}
h6{

    font-weight: 700 !important;
    color: hsl(185, 41%, 84%) !important;
    font-size: 18px !important;
}
span{
  font-weight: 400 !important;
  font-size: 16px !important;
  color:  hsl(186, 14%, 43%) !important;
}
span.alert{
  color: rgb(197, 79, 79) !important;
}

.output-div{
  background:hsl(183, 100%, 15%);
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1440px){


}
@media screen and (max-width: 375px){
 
}

